<!-- home.html.erb -->

<h1>You've reached the home page!</h1>

<h2>Movies</h2>
  <%= link_to "Matilda", @matilda_path %>
  <%= link_to "Shrek", @shrek_path %>
  <%= link_to "Gladiator", @gladiator_path %>




<h2>Shows</h2>
<%= link_to "Seinfeld", @seinfeld_path %>
<%= link_to "Friends", @friends_path %>
<%= link_to "Daily Show", @dailyshow_path %>